.heading {
    margin:0;
    width: 100%;
    font-size:23px;
    box-shadow: 5px 5px 5px darkcyan;
}

.note {
    font-size:15px;
    color:darkslategrey;
}

.copy_right_footer {
position: fixed;
color:floralwhite;
background-color:greenyellow;
width:100%;
bottom:0;
box-shadow:5px 5px 5px indianred;
line-height: 3;
text-align: center;
}

canvas {
    border: 5px solid whitesmoke;
    border-radius:20px;
    box-shadow:indigo 5px 5px 5px;
}